.PauseBtn {
    position: absolute;
    width: 5.1em;
    height: 5.1em;
    top: 9em;
    right: 2em;
    cursor: pointer;

    @media(max-width: 768px) {
        width: 10.5em;
        height: 10.5em;
        top: 7em;
        right: 43em;
    }
}