.Chat {
    position: absolute;
    right: 1em;
    top: 6em;
    bottom: 2em;
    overflow: hidden;
    width: 35em;

    @media (max-width: 768px){
        width: 71em;
    }

    .chat-list {
        transform: translateY(50%);
    }

    svg {
        width: 100%;
        height: auto;
    }
}