.Chip {
    position: absolute;

    .chip-wrap{

        &.fly {
    
            .chip-animate {
                transition: all 1s;
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    svg {
        cursor: pointer;
        height: 7.2em;
        width: 7.2em;
        border-radius: 50%;

        @media(max-width: 768px) {
            height: 15.2em;
            width: 15.2em;
        }
    }
}