.FinalBtn {
    width: 28em;
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, .28);
    margin-top: 12em;
    z-index: 1000;

    @media(max-width: 768px) {
        width: 72em;
        height: 17em;
        margin-top: -21em;
    }

    span {
        font-size: 3em;

        @media(max-width: 768px) {
            font-size: 7em;
        }
    }
}